@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* - Mobile: 375px
- Desktop: 1440px */

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--inter);
    margin: 0;
    padding: 0;
    }

body{
    margin: 1rem;
    padding: 0;
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

p {
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    font-size: 15px;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}
#menu-close {
    position: absolute;
    top: 2.4%;
    right: 8%;
    width: 2.75rem;
} 

.menu {
    background-color: var(--off-white);
    position: fixed;
}

.menu__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}


