@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* - Mobile: 375px
- Desktop: 1440px */

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*, *::after, *::before {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    margin: 1rem;
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}

/* #menu-burger, #logo{
    height: 100%;
    width: auto;
} */