@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* - Mobile: 375px
- Desktop: 1440px */

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    }

body{
    margin: 1rem;
    padding: 0;
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

p {
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    font-size: 15px;
}

a {
    text-decoration: none;
}

#menu-close{
    position: absolute;
    top: 2.4%;
    right: 8%;
    width: 2.75rem;
} 

#logo, #menu-burger{
    height: 100%;
    width: auto;
}

.hide-menu {
    display: none;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    padding: 1.25rem;
     /* STUDY WEBKIT */
    z-index: 1;
    -webkit-box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
    -moz-box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
    box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
}

.menu-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.menu-nav a {
    padding: 1rem;
    color: black;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
}



