@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* - Mobile: 375px
- Desktop: 1440px */

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    }

body {
    margin: 1rem;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

p {
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
    font-size: 15px;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

#menu-close {
    position: absolute;
    top: 2.4%;
    right: 8%;
    width: 2.75rem;
} 

#logo, #menu-burger {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: auto;
}

.hide-menu {
    display: none;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    padding: 1.25rem;
     /* STUDY WEBKIT */
    z-index: 1;
    -webkit-box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
    -moz-box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
    box-shadow: -200px 0px 0px 200px rgba(0,0,0,0.6);
}

.menu-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.menu-nav a {
    padding: 1rem;
    color: black;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.right, .under {
    display: grid;
}

.up .feed-up{
    font-size: 4rem;
    font-weight: 800;
    margin: 1rem auto;
}

.text-up{
    padding:0 0.75rem 1.25rem 0.75rem;
}

.link-up{
    background-color: var(--soft-red);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: white;
    font-weight: 900;
}

.right{
    background-color: var(--very-dark-blue);
    padding: 1rem 1rem 0.5rem;
    margin-top: 3rem;
}

.right-news:last-of-type{
    border: none;
}

.right-news{
    border-bottom: 1px solid var(--grayish-blue);
}

.right-news-title{
    color: #fff;
}

.right-news p{
    color: var(--grayish-blue);
}

.right-tittle{
    color: var(--soft-orange);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.under{
    margin-top: 4rem;
}

.under-content{
    display: grid;
    grid-template-columns: 33% 66%;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.under-rate{
    color: var(--grayish-blue);
    font-size: 2.5rem;
    margin: 0;
}

footer{
    text-align: center;
    color: var(--grayish-blue);
}

footer a{
    color: var(--grayish-blue);
}

/*Desktop version*/
@media all and (min-width: 750px){

    main {
        display: grid;
        grid-template-areas: 
        "head head"
        "main side"
        "under under"
        "footer footer"
        ;
        grid-template-columns: 66% 33%;
        gap: 1rem;
    }

    .right{
        margin-top: 0;
    }

    .up img{
        display: grid;
        content: url(../images/image-web-3-desktop.jpg);
        grid-area: image;
        height: fit-content;
    }

    .up .feed-up{
        font-size: 3rem;
        padding-bottom: 3rem;
    }

    .up-content{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .division-up{
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
    }
    .under{
        display: flex;
        gap: 2rem;
    }
    
}